*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vw;
    justify-content: center;
    align-items: center;
    margin: 5rem;

}

#header{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
}

#score{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

#gameArea{
    display: flex;
    height: 100%;
    width: 100%;
    background-color: lightblue;
    flex-flow: wrap;
}

.zone{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: .5px solid black;
    flex: 1 1 33%;
    padding: 5px;
}

.hole,.mole{
    position: absolute;
    width: 15vw;
    height: 15vh;
    background-size: contain;
    background-repeat: no-repeat;
}


.hole{
    background-image: url(./hole.png);
    background-position: center; 
    
}


.zone.active .mole{
    background-image: url(./mole.png);
    background-position: center;
}

.zone.active .hole{
    background-image: none;
}


